<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
		<!-- 包扫描cn.tedu -->
 		<context:component-scan base-package="cn.tedu"/>
 		
 		<!-- 数据源 -->
 		<!-- 
 			使用阿里巴巴的数据库连接池
 		 -->
 		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
 			<property name="url" value="jdbc:mysql:///easymall"/>
 			<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
 			<property name="username" value="root"/>
 			<property name="password" value="123456"/>
 		</bean>
 		
 		<!-- sqlSession sql动态代理-->
 		<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
 			<!-- 注入数据源 -->
 			<property name="dataSource" ref="dataSource"/>
 			<!-- mybatis配置文件 -->
 			<property name="configLocation" value="classpath:mybatis-config.xml"/>
 			<property name="mapperLocations" value="classpath:mapper/*.xml"/>
 			<!-- 别名包resultType domain,entiry,dto,vo,pojo -->
 			<property name="typeAliasesPackage" value="cn.tedu.domain"/>
 		</bean>
 		
 		<!-- 扫描动态代理的接口 -->
 		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 			<property name="basePackage" value="cn.tedu.mapper"/>
 		</bean>
 		
 		<!--开启MVC注解  -->
    	<mvc:annotation-driven/>
 		
 		<mvc:resources location="/" mapping="/**"></mvc:resources>
 		
 </beans>